.contenedor-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabla-productos {
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-productos th,
.tabla-productos td {
  border: 1px solid #ccc;
  padding: 10px 15px;
  text-align: left;
}
